/* .Home {
  text-align: center;
  font-family: "Public Sans", sans-serif;
} */

/* .Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Home-link {
  color: #35474b;
}

.Navbar {
  background-color: #22668a;
}

.category-aktif {
  background-color: #22668a;
  color: white;
}

.Dkategory {
  text-align: center;
}

.Dproduk {
  text-align: center;
}

.Hasil {
  text-align: center;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 370px;
  }

  .menu {
    height: 480px;
  }
}
